<div class="content">
    <div class="d-flex justify-content-center" fxLayout="row wrap" fxLayoutGap.md="0%" fxLayoutGap="0%">
        <div fxFlex="95%" fxFlex.md="90%">
            <mat-card class="p-3 mt-5">
                <mat-card-header>
                    <mat-card-title>
                        <h1>Standaard inbegrepen</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-start">
                    <ul>
                        <li>(Digitale) Afbeeldingen en video’s vrij om te gebruiken op uw eigen site, social media etc.</li>
                        <li>Beelden in hoge resolutie, zonder watermerk</li>
                        <li>Reiskosten binnen een straal van 30km gerekend vanaf Amersfoort centrum</li>
                        <li>Geen verbogen kosten voor bewerking of oplevering</li>
                    </ul>
                    Alleen gemaakte kosten als parkeerkosten e.d. worden in rekening gebracht.
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="d-flex justify-content-center" fxLayout="row wrap" fxLayoutGap.md="0%" fxLayoutGap="2.5%">
        <div fxFlex="30%" fxFlex.md="90%">
            <mat-card class="p-3 mt-5">
                <mat-card-header>
                    <mat-card-title>
                        <h1>Halve dag</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-start">
                    <ul>
                        <li>tot 4 uur</li>
                        <li>€ 250,-</li>
                        <li>100 zorgvuldig geselecteerde en nabewerkte foto's</li>
                        <li>+/- 5 beste highlight foto's dezelfde dag geleverd</li>
                        <li>Volledige oplevering binnen 2 werkdagen</li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="30%" fxFlex.md="90%">
            <mat-card class="p-3 mt-5">
                <mat-card-header>
                    <mat-card-title>
                        <h1>Hele dag</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-start">
                    <ul>
                        <li>8 uur</li>
                        <li>€ 450,-</li>
                        <li>200 zorgvuldig geselecteerde en nabewerkte foto's</li>
                        <li>+/- 10 beste highlight foto's dezelfde dag geleverd</li>
                        <li>Volledige oplevering binnen 2 werkdagen</li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="30%" fxFlex.md="90%">
            <mat-card class="p-3 mt-5">
                <mat-card-header>
                    <mat-card-title>
                        <h1>The extra mile</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-start">
                    <ul>
                        <li>meer dan 8 uur (max 16 uur op 1 dag)</li>
                        <li>€ 750,-</li>
                        <li>300 zorgvuldig geselecteerde en nabewerkte foto's</li>
                        <li>+/- 15 beste highlight foto's dezelfde dag geleverd</li>
                        <li>Volledige oplevering binnen 2 werkdagen</li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="d-flex justify-content-center" fxLayout="row wrap" fxLayoutGap.md="0%" fxLayoutGap="0%">
        <div fxFlex="95%" fxFlex.md="90%">
            <mat-card class="p-3 mt-5">
                <mat-card-header>
                    <mat-card-title>
                        <h1>Video Upgrades</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-start">
                    <ul>
                        <li>Gastenboek op film € 250,-</li>
                        <li>Max 1 min horizontale en verticale highlight of promo film op muziek € 250,-</li>
                        <li>Interview tot 30 min € 250,-</li>
                        <li>Slideshow op muziek € 150,-</li>
                        <li>Second shooter (€ 50,- per uur)</li>
                        <li>Meer (video) opties zijn altijd bespreekbaar</li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>