<div class="content">
    <div class="d-flex justify-content-center" fxLayout="row wrap" fxLayoutGap.md="0%" fxLayoutGap="2.5%">
        <div fxFlex="30%" fxFlex.md="90%">
            <mat-card class="p-3 mt-5">
                <mat-card-header>
                    <div mat-card-avatar class="header-image-zilver"></div>
                    <mat-card-title>
                        <h1>Halve dag</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-start">
                    <ul>
                        <li>tot 4 uur</li>
                        <li>250 EUR</li>
                        <li>100 zorgvuldig geselecteerde en nabewerkte foto's</li>
                        <li>+/- 5 beste highlight foto's dezelfde dag geleverd</li>
                        <li>Volledige oplevering binnen 2 werkdagen</li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="30%" fxFlex.md="90%">
            <mat-card class="p-3 mt-5">
                <mat-card-header>
                    <div mat-card-avatar class="header-image-gold"></div>
                    <mat-card-title>
                        <h1>Hele dag</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-start">
                    <ul>
                        <li>8 uur</li>
                        <li>450 EUR</li>
                        <li>200 zorgvuldig geselecteerde en nabewerkte foto's</li>
                        <li>+/- 10 beste highlight foto's dezelfde dag geleverd</li>
                        <li>Volledige oplevering binnen 2 werkdagen</li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="30%" fxFlex.md="90%">
            <mat-card class="p-3 mt-5">
                <mat-card-header>
                    <div mat-card-avatar class="header-image-diamond"></div>
                    <mat-card-title>
                        <h1>The extra mile</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-start">
                    <ul>
                        <li>8+ uur</li>
                        <li>750 EUR</li>
                        <li>300 zorgvuldig geselecteerde en nabewerkte foto's</li>
                        <li>+/- 15 beste highlight foto's dezelfde dag geleverd</li>
                        <li>Volledige oplevering binnen 2 werkdagen</li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
        </div>
        <div class="d-flex justify-content-center" fxLayout="row wrap" fxLayoutGap.md="0%" fxLayoutGap="0%">
        <div fxFlex="95%" fxFlex.md="90%">
            <mat-card class="p-3 mt-5">
                <mat-card-header>
                    <div mat-card-avatar class="header-image-upgrade"></div>
                    <mat-card-title>
                        <h1>Upgrades</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-start">
                    <ul>
                        <li>Gastenboek op film 250 EUR</li>
                        <li>Max 1 min horizontale en vertikale highlight of promo film op muziek 250 EUR</li>
                        <li>Interview tot 30 min 250 EUR</li>
                        <li>Slideshow op muziek 150 EUR</li>
                        <li>Second shooter (50 EUR per uur)</li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>