<div class="content">
    <div class="d-flex justify-content-center" fxLayout="row wrap" fxLayoutGap.md="0%" fxLayoutGap="2.5%">
        <div fxFlex="30%" fxFlex.md="90%">
            <mat-card class="p-3 mt-5">
                <mat-card-header>
                    <div mat-card-avatar class="header-image-zilver"></div>
                    <mat-card-title>
                        <h1>Halve dag</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-start">
                    <ul>
                        <li>tot 4 uur</li>
                        <li>250 EUR</li>
                        <li>basic edits</li>
                        <li>hoge resolutie files</li>
                    </ul>
                    <mat-accordion>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="h5">
                                    Extra video opties:
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul class="h6">
                                <li>250 EUR interview</li>
                                <li>250 EUR tot 1 min horziontaal en verticaal</li>
                                <li>Extra opties bespreekbaar</li>
                            </ul>
                        </mat-expansion-panel>
                    </mat-accordion>

                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="30%" fxFlex.md="90%">
            <mat-card class="p-3 mt-5">
                <mat-card-header>
                    <div mat-card-avatar class="header-image-gold"></div>
                    <mat-card-title>
                        <h1>Hele dag</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-start">
                    <ul>
                        <li>8 uur</li>
                        <li>500 EUR</li>
                        <li>basic edits</li>
                        <li>hoge resolutie files</li>
                    </ul>

                    <mat-accordion>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="h5">
                                    Extra video opties:
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul class="h6">
                                <li>250 EUR interview</li>
                                <li>250 EUR tot 1 min horziontaal en verticaal</li>
                                <li>Extra opties bespreekbaar</li>
                            </ul>
                        </mat-expansion-panel>
                    </mat-accordion>

                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="30%" fxFlex.md="90%">
            <mat-card class="p-3 mt-5">
                <mat-card-header>
                    <div mat-card-avatar class="header-image-diamond"></div>
                    <mat-card-title>
                        <h1>The extra mile</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-start">
                    <ul>
                        <li>8+ uur</li>
                        <li>750 EUR</li>
                        <li>basic edits</li>
                        <li>hoge resolutie files</li>
                    </ul>

                    <mat-accordion>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="h5">
                                    Extra video opties:
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul class="h6">
                                <li>250 EUR interview</li>
                                <li>250 EUR tot 1 min horziontaal en verticaal</li>
                                <li>Extra opties bespreekbaar</li>
                            </ul>
                        </mat-expansion-panel>
                    </mat-accordion>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>