<div class="content">
    <div class="d-flex justify-content-center" fxLayout="row wrap">
        <div fxFlex="30" fxFlex.md="95%">
            <mat-card class="p-3 mt-5">
                <mat-card-header>
                    <mat-card-title><h1>Steven Glasius</h1></mat-card-title>
                </mat-card-header>
                <img mat-card-image  src="../../../assets/img/us/steven.jpg"
                    alt="Steven">
                <mat-card-content class="text-start">
                    <p>
                        Hi, Steven hier. Vader van vier en gelukkig getrouwd met mijn mooie vrouw Simone. Ik word helemaal gelukkig van een mooi feest en mijn camera's in de hand, klaar om elk mooi moment vast leggen.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>