<div class="content">
    <div class="d-flex justify-content-center" fxLayout="row wrap">
        <div fxFlex="45" fxFlex.md="95%">
            <mat-card class="p-3 mt-5">
                <mat-card-header>
                    <mat-card-title>
                        <h1>Steven Glasius</h1>
                    </mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../assets/img/us/steven.jpg" alt="Steven">
                <mat-card-content class="text-start">
                    <p>
                        <br>
                        Hi, Steven hier. Samen met mijn mooie vrouw Simone en onze kids Jayms, Amy, Lizzy en Norah woon
                        ik in Amersfoort.
                        <br><br>
                        Op een mooi feest, met een camera mooie momenten vastleggen, daar word ik happy van. Dit is mijn
                        passie. Alle aspecten van foto en videografie spreken mij aan, maar mijn passie ligt bij
                        bruiloften, events en bijdragen aan content voor bedrijven. Dit doe ik alleen of in samenwerking
                        met vrienden met wie ik deze hobby mag delen. Samen sterk en altijd scherp!
                        <br><br>
                        Mensen kennen mij als sociaal, positief creatief geduldig meedenkend, ruimdenkend en erg
                        precies. Een uitdaging ga ik niet uit de weg. Een technisch complexe situatie zoals een slecht
                        belichte omgeving, laat mijn radertjes nog harder draaien.
                        <br><br>
                        Heeft u interesse of vragen? Neem contact met mij op, ik bespreek graag alle opties en denk
                        graag met u mee!
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>