<div class="content">
  <div class="d-flex justify-content-center" fxLayout="row wrap" fxLayoutGap.md="0%" fxLayoutGap="2.5%">
    <div fxFlex="30%" fxFlex.md="90%">
      <mat-card routerLink="/events" class="p-3 mt-5">
        <mat-card-header>
          <mat-card-title>
            <h1>Events</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-start">
        </mat-card-content>
        <img mat-card-image src="../../../assets/img/albums/first/13.jpg" alt="Steven">
        Slecht belichte events
      </mat-card>
    </div>
    <div fxFlex="30%" fxFlex.md="90%">
      <mat-card routerLink="/coorporate" class="p-3 mt-5">
        <mat-card-header>
          <mat-card-title>
            <h1>Coorporate events</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-start">
        </mat-card-content>
        <img mat-card-image src="../../../assets/img/coorporate/0.jpg" alt="Coorperate">
        AWS Summit
      </mat-card>
    </div>

    <div fxFlex="30%" fxFlex.md="90%">


        <mat-card class="p-3 mt-5">
          <mat-card-header>
            <mat-card-title>
              <h1>Bruiloften</h1>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="text-start">
          </mat-card-content>
          <img mat-card-image src="../../../assets/img/bruiloften/0.jpg" alt="Bruiloft">
          <a href="https://www.theweddingflashers.nl">
            The Wedding Flashers (Link)
          </a>
        </mat-card>
    </div>
    <div fxFlex="30%" fxFlex.md="90%">
      <mat-card routerLink="/headshots" class="p-3 mt-5">
        <mat-card-header>
          <mat-card-title>
            <h1>Headshots - Portretten</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-start">
          Coming soon!
        </mat-card-content>
      </mat-card>
    </div>
  </div>


  <!-- <ul class="mdc-image-list mdc-image-list--woven my-woven-image-list">
  <li class="mdc-image-list__item">
    <img *ngFor="let photo of photos" class="mdc-image-list__image" src={{photo.url}} />
    <div class="mdc-image-list__supporting">
</div> -->