<div class="content">
    <div class="d-flex justify-content-center" fxLayout="row wrap" fxLayoutGap.md="0%" fxLayoutGap="2.5%">
      <div fxFlex="30%" fxFlex.md="90%">
        <mat-card class="p-3 mt-5">
          <mat-card-header>
            <mat-card-title>
              <h1>ML Dance Centre - <br>Dansen aan de Kade</h1>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="text-start">
            28 Februari 2023
          </mat-card-content>
          <img mat-card-image src="../../../assets/img/2022/ml/kadedec/13.jpg" alt="Steven">
  
        </mat-card>
      </div>
      <div fxFlex="30%" fxFlex.md="90%">
        <mat-card class="p-3 mt-5">
          <mat-card-header>
            <mat-card-title>
              <h1>ML Dance Centre - <br>Dansen aan de Kade</h1>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="text-start">
            23 December 2022
          </mat-card-content>
          <img mat-card-image src="../../../assets/img/2022/ml/kadedec/13.jpg" alt="Steven">
  
        </mat-card>
      </div>
  
    </div>
  </div>