<div class="content">
    <div class="d-flex justify-content-center" fxLayout="row wrap" fxLayoutGap.md="0%" fxLayoutGap="2.5%">
        <div fxFlex="30%" fxFlex.md="95%">
            <mat-card class="p-3 mt-5">
                <mat-card-header>
                    <div mat-card-avatar class="header-image-zilver"></div>
                    <mat-card-title>
                        <h1>Vertical content</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-center">
                    <iframe width="95%" height="315" src="https://www.youtube.com/embed/82rSX7CYBws" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <h5>Het resultaat van een dansles bij ML Dance Centre in Amersfoort</h5>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="30%" fxFlex.md="95%">
            <mat-card class="p-3 mt-5">
                <mat-card-header>
                    <div mat-card-avatar class="header-image-gold"></div>
                    <mat-card-title>
                        <h1>Gastenboek</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-center">
                    <iframe width="95%" height="315" src="https://www.youtube.com/embed/r6eksuk0kk8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <h5>Een video gastenboek voor een bruiloft</h5>
                </mat-card-content>
            </mat-card>
        </div>

        <div fxFlex="30%" fxFlex.md="95%" >
            <mat-card class="p-3 mt-5">
                <mat-card-header>
                    <div mat-card-avatar class="header-image-diamond"></div>
                    <mat-card-title>
                        <h1>Event Promo</h1>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-center">
                    <iframe width="95%" height="315" src="https://www.youtube.com/embed/gfnb794NunI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    <h5>Dansen aan de Kade in Nijkerk</h5>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
